.line {
  transition: x2 1s ease-in-out;
}
.btn {
  width: 150px;
  height: 50px;
  background-color: white;
  border: 3px solid black;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover {
  background-color: black;
  color: white;
}
rect {
  transition: 1s ease-in-out;
}
rect:hover {
  opacity: 0;
}
